@model IEnumerable<Category>

<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li>
            <a class="dropdown-item" asp-controller="Products" asp-action="ProductsByCategory" asp-route-id="@item.Id">@item.Name</a>
        </li>
    }
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item" asp-controller="Categories" asp-action="Index">View all</a>
    </li>
</ul>