@model IEnumerable<Product>

<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
        </li>
    }
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item" asp-controller="Product" asp-action="Index">View all</a>
    </li>
</ul>